.border
  margin-top: 5%

.payment
  padding: 1.5%

.component-title
  margin-top: 1%

.payment-form
  margin-top: 3%

.total-price
  padding-top: 3%
  float: right

.button
  margin-top: 3%

.button>button
  min-width: 200px

.continue-button
  float: right



