<div class="container-fluid">
  <ngb-progressbar animated="true" striped="true" type="success" max="100" value="33" ></ngb-progressbar>
</div>
<div class="border border-success rounded-lg ">
  <div class="delivery-address">
  <h4 class="component-title">
    Please enter delivery address details.
  </h4>
  <div class="delivery-address-form container-fluid">
    <form>
      <div class="form-group">
        <label for="inputCityName">City Name</label>
        <input type="text" class="form-control" id="inputCityName">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Street Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-row">
        <div class="col">
          <label for="exampleInputPassword1">House Number</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="col">
          <label for="exampleInputPassword1">Apartment</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
          <small class="form-text text-muted">(Optional)</small>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Continue</button>
    </form>
  </div>
</div>
</div>




