.border
  margin-top: 5%

.delivery-address
  padding: 1.5%

.component-title
  margin-top: 1%

.payment-form
  margin-top: 3%

#input-delivery-date
  min-width: 110px

.date-picker
  min-width: 210px
  padding-top: 1%

.time-picker-div
  padding-top: 1%
  padding-left: 1%

.additional-info-div
  padding-top: 3%

.button
  margin-top: 3%

.button>button
  min-width: 200px

.continue-button
  float: right
