<div class="component-under-text text-center text-justify">
  <b>Work in progress</b>
</div>
<br />
<hr class="solid" />
<br />
<div class="planned-features">
  <p><b>Planned features:</b></p>
  <ul>
    <li>
      <s
        ><b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Main application layout -
        Navigators/Footers/Context menus
      </s>
    </li>
    <li>
      <s
        ><b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Account
        creation/modification/authorization *JWT Token*</s
      >
    </li>
    <li>
      <s
        ><b>[CUSTOMER]</b> Order displaying with pagination - both for
        authorized and non authorized users</s
      >
    </li>
    <li>
      <s><b>[CUSTOMER]</b> Shopping cart - product adding and displaying</s>
    </li>
    <li>
      <s
        ><b>[CUSTOMER]</b> Order placing (step by step approach) and displaying
        for customer</s
      >
    </li>
    <li>
      <s
        ><b>[CUSTOMER]</b> Check for unfinished orders, allowing user to finish
        it placement at any given time</s
      >
    </li>
    <li>
      <s
        ><b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Product image url storing in database
        and external image hosting service/upload</s
      >
    </li>
    <li>
      <s
        ><b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Website is accessible from mobile
        phones (Responsive web design)</s
      >
    </li>
    <li>
      <b>[CUSTOMER]</b> Bouquets with pre existing templates offered by shop
    </li>
    <li>
      <b>[CUSTOMER]</b> Bouquet customizer, allowing customer to make changes to
      existing bouquest or create new ones from scratch
    </li>
    <li>
      <b>[CUSTOMER]</b> Order Delivery with delivery fee calculation (maybe
      using some sort of map, or existing api)
    </li>
    <li>
      <s><b>[ADMIN]</b> Admin page - modyfing user privileges, etc.</s>
    </li>
    <li>
      <s
        ><b>[EMPLOYEE]</b> Employee page - looking into currently existing
        orders, updating their status</s
      >
    </li>
    <li>
      <b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Anti scrippting features - API protection
    </li>
    <li>
      <s
        ><b>[CUSTOMER]</b> Main page shop presentation (Maybe carousel with
        banners/promotions, etc?)</s
      >
    </li>
    <li><b>[ADMIN/EMPLOYEE]</b> Content management system</li>
    <li><b>[ADMIN/EMPLOYEE/CUSTOMER]</b> Built-in messaging system</li>
  </ul>
</div>
<br />
<hr class="solid" />
<br />
<div class="container used-technologies">
  <p class="row used-technologies-title"><b>Currently used technologies:</b></p>
  <div class="row used-technologies-content">
    <div class="col-6">
      <label><b>Front End</b></label>
      <ul>
        <li>Angular 8</li>
        <li>Bootstrap/Bootstrap for Angular</li>
        <li>Angular Material UI</li>
      </ul>
    </div>
    <div class="col-6">
      <label><b>Back End</b></label>
      <ul>
        <li>Java 8</li>
        <li>Spring (Core, Security, MVC, Data - JPA/Hibernate, REST Docs)</li>
        <li>JUnit 5, MockMVC, H2Database</li>
        <li>Gradle</li>
        <li>Project Lombok</li>
        <li>Java Money with Zalando Jackson money module</li>
        <li>Log4J2</li>
      </ul>
    </div>
  </div>
  <div class="row used-technologies-content">
    <div class="col-12">
      <label><b>Other</b></label>
      <ul>
        <li>PostgreSQL</li>
        <li>Docker</li>
        <li>REST API</li>
        <li>GIT</li>
      </ul>
    </div>
  </div>
</div>
