<form class="accountForm" name="form" #f="ngForm" (ngSubmit)="f.form.valid && validateUser()">

  <div class="form-group">
    <label for="loginInput">Login</label>
    <input type="text"
           class="form-control"
           id="loginInput"
           aria-describedby="loginHelp"
           [(ngModel)]="model.username"
           name="login"
           #login="ngModel"
           required>
    <div class="text-danger" *ngIf="f.submitted && login.invalid"> Login can not be empty</div>

  </div>
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input type="password"
           class="form-control"
           id="passwordInput"
           [(ngModel)]="model.password"
           name="password"
           #password="ngModel"
           required>
    <div class="text-danger" *ngIf="f.submitted && password.invalid"> Password can not be empty</div>

  </div>
  <button type="submit" class="btn btn-success submit-button">Submit</button>
</form>
