
<div class="text-center text-justify">
  <h2> First invokation of this application requests can take some times as Heroku have to wake up backend and database containers</h2>
</div>
<br>
<div class="text-center text-justify">
  <b>Work in progress</b>
</div>
<br>
<div>
  <p>Currently planned features:</p>
  <ul>
    <li>Product image storing in database</li>
    <li>Customizable bouquets with pre existing templates offered by shop</li>
    <li>Order Placing</li>
    <li>Order Delivery with delivery fee calculation (maybe using some sort of map, or existing api)</li>
    <li>Admin page - modyfing user privileges, etc.</li>
    <li>Employee page - looking into currently existing orders, updating their status</li>
  </ul>
</div>


