<div class="nav flex-column nav-pills profile-navigator " role="tablist" aria-orientation="vertical">
  <a class="nav-link border border-success" [routerLink] = "['display-orders']" routerLinkActive="active bg-success border-dark">Your Orders</a>
  <a class="nav-link border border-success border-top-0" [routerLink] = "['manage-details']" routerLinkActive="active bg-success border-dark">Edit details</a>
  <a class="nav-link border border-success border-top-0 border-bottom-0" [routerLink] = "['change-password']" routerLinkActive="active bg-success">Change password</a>
  <a class="nav-link border border-success" [routerLink] = "['delete']" routerLinkActive="active bg-success">Delete Account</a>
</div>


<div class="d-flex justify-content-center profile-container">
  <router-outlet></router-outlet>
</div>
