<div class="container">
  <div>
    <ngb-pagination
      class="d-flex justify-content-center"
      size="lg"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [collectionSize]="collectionSize"
      (pageChange)="onChangePage(page)"
    ></ngb-pagination>
  </div>

  <div class="row justify-content-center" *ngIf="!resourcesLoaded">
    <div
      class="spinner-border text-success"
      role="status"
      style="width: 10rem; height: 10rem;"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="resourcesLoaded">
    <div class="card-deck" *ngFor="let row of viewModel; let rowIndex = index">
      <div
        class="card border-success"
        *ngFor="let product of row; let columnIndex = index"
      >
        <div
          class="row justify-content-center"
          *ngIf="!isImageLoaded(rowIndex * elemntsInRow + columnIndex)"
        >
          <div
            class="spinner-border text-success"
            role="status"
            style="width: 10rem; height: 10rem;"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <img
          class="card-img-top"
          src="{{ product.imageMedium }}"
          alt="Image Product"
          [hidden]="!isImageLoaded(rowIndex * elemntsInRow + columnIndex)"
          (load)="onImageLoad(rowIndex * elemntsInRow + columnIndex)"
        />
        <div class="card-header">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text card-under-title">
            <small class="text-muted">ID: {{ product.id }} </small>
          </p>
        </div>
        <div class="card-body bg-transparent border-success">
          <p class="card-text .text-justify">
            {{ product.description }}
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <p class="price float-left card-text">
            {{ product.price.amount }} {{ product.price.currency }}
          </p>
          <button
            type="button"
            class="btn btn-success float-right card-text"
            *ngIf="authenticationGuard.isAuthenticated()"
            (click)="addToShoppingCart(product.id)"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>

    <div>
      <ngb-pagination
        class="d-flex justify-content-center"
        size="lg"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [collectionSize]="collectionSize"
        (pageChange)="onChangePage(page)"
      ></ngb-pagination>
    </div>
  </div>
</div>
