<div class="container">
  <div>
    <ngb-pagination
      class="d-flex justify-content-center "
      size="lg"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [collectionSize]="collectionSize"
      (pageChange)="onChangePage(page)"
    ></ngb-pagination>
  </div>

  <div class="row justify-content-center" *ngIf="!resourcesLoaded">
    <div class="spinner-border text-success"  role="status" style="width: 10rem; height: 10rem;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

<div *ngIf="resourcesLoaded">
  <div class="row products-row" *ngFor="let row of viewModel">
    <div
      class="card products-column"
      style="width: 20rem;"
      *ngFor="let product of row"
    >
      <img
        class="card-img-top"
        src="{{product.imageMedium}}"
        alt="Card image cap"
      />
      <div class="card-body title">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text ">
          <small>ID: {{ product.id }} </small>
        </p>
      </div>
      <ul class="list-group list-group-flush description">
        <li class="list-group-item">{{ product.description }}</li>
      </ul>
      <div class="card-body">
        <p class="price float-left">
          {{ product.price.amount }} {{ product.price.currency }}
        </p>
        <button type="button" class="btn btn-success float-right" *ngIf="authenticationGuard.isAuthenticated()" (click)="addToShoppingCart(product.id)">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
  <div>
    <ngb-pagination
      class="d-flex justify-content-center "
      size="lg"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [ellipses]="false"
      [collectionSize]="collectionSize"
      (pageChange)="onChangePage(page)"
    ></ngb-pagination>
  </div>
</div>
