.border
  margin-top: 5%

.payment
  padding: 1.5%

.component-title
  margin-top: 1%
  margin-bottom: 2%

.summary-component
  margin-bottom: 2%

.summary-component>button
  margin-bottom: 1%

.summary-component>div
  margin-top: 1%
  padding: 1.5%

.continue-button
  margin-top: 1%
  float: right

.param-name
  width: 100px

#message
  margin-bottom: 2%

#delivery-date
  margin-bottom: 2%

#additional-info
  margin-bottom: 2%

.summary-component-button
  width: 150px

.total-price
  padding-top: 3%
  float: right


