<div class="container content w-100">
  <div>
    <ngb-pagination
      class="d-flex justify-content-center"
      *ngIf="dataLoaded"
      [(page)]="page"
      [boundaryLinks]="true"
      [collectionSize]="collectionSize"
      [directionLinks]="true"
      [maxSize]="8"
      [ellipses]="false"
      [pageSize]="pageSize"
      [rotate]="true"
      (pageChange)="retrieveContent(page, pageSize, sortingProperties[0])"
    ></ngb-pagination>
  </div>
  <div class="row justify-content-center" *ngIf="!dataLoaded">
    <div
      class="spinner-border text-success"
      role="status"
      style="width: 10rem; height: 10rem;"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div
    class="table-responsive page-content w-100 table-container"
    *ngIf="dataLoaded"
  >
    <table class="table table-bordered table-hover table-content w-100">
      <thead class="thead">
        <tr>
          <th scope="row">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Creation Date</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let account of content; let i = index"
          [attr.data-index]="i"
          (click)="navigate(account.id)"
        >
          <td>{{ i + 1 + (page - 1) * pageSize }}</td>
          <td>{{ account.id }}</td>
          <td>{{ account.name }}</td>
          <td>{{ account.email }}</td>
          <td>{{ account.creationDate }}</td>
          <td>{{ account.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<hr class="solid" />
<br />

<div class="container w-100">
  <router-outlet></router-outlet>
</div>
